<div class="home">
    {{! For each event display event details and a button to get ticket/register people
    for that event}}
    <p class="cat">{{cats}} meow</p>
    
    {{#each events}}
    <article>
        <h2 class="title">{{this.name}}  by  {{this.host}}</h2>
        <hr>
        <p>This event is being hosted in {{this.location}}.</p>
        {{this.date}}
        <p><a href="/registered/{{this.name}}">People going: {{this.registered.length}}</a>
        <button class="evtbutton" style="float: right;"><a href="/registerUser/{{this.name}}">Going!</a></button>
        </p>
    </article>
    {{/each}}
</div>